.header {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, sans-serif;
  color: #333; }

.header {
  padding-top: 50px; }
